body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#wrapper {
    display: flex;
    height: 100dvh;
}

#list, #work {
    height: 100dvh;
    overflow-y: auto;
    padding: 32px;
    box-sizing: border-box;
    background-color: #fff;
}

#list {
    flex: 34%;
    padding-bottom: 64px;
}

#work {
    flex: 66%;
}

.container * {
    margin: 0;
    padding: 0;
}






.work-title {
    font-size: 30px;
    font-family: 'Shrikhand', serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 36px;
}

.work-title .subtitle {
    font-size: 24px;
}




.work-intro {
    margin-top: 80px;
}

.work-intro * {
    font-size: 15px;
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

.work-intro .work-type {
    text-transform: uppercase;
}






/* Contact info styles */
.contact-info {
    display: flex;
    width: 100%;
    align-items: flex-start;
    margin-top: 80px;
    margin-bottom: 40px;
}

.contact-info .copyright {
    width: 240px;
    height: 32px;
}

.contact-info .contact {
    font-size: 15px;
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

/* Text styles */
.bold {
    font-weight: 600;
}

.hyperlink {
    font-weight: 600;
    text-decoration: underline;
    text-decoration-thickness: 1.6px;
    text-underline-offset: 1px;

    cursor: pointer;
}

/* Image styles */
.full-image {
    /* background-color: rgb(221, 221, 221); */
    width: 100%;
    height: auto;
    /* aspect-ratio: 12/9; */
    margin: 20px 0;
    line-height: 0;

    overflow: hidden;
}

#work img {
    width: 100%;
    height: auto;
}

.copyright {
    font-size: 15px;
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.work-content p {
    font-size: 15px;
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    margin: 20px 0;
}

.work-content .h2 p {
    font-size: 24px;
    font-family: 'Shrikhand', serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 40px;
}

.work-content .h3 p {
    font-size: 18px;
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-top: 20px;
}

.half-image {
    /* background-color: rgb(221, 221, 221); */
    width: 100%;
    margin: 20px 0;
    line-height: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    align-items: start;
    overflow: hidden;
}

.customized-image {
    /* background-color: rgb(221, 221, 221); */
    width: 100%;
    margin: 20px 0;
    line-height: 0;
    display: grid;
    gap: 12px;
    align-items: start;
    overflow: hidden;
}

.quarter-image {
    /* background-color: rgb(31, 31, 31); */
    width: 100%;
    /* 移除margin */
    line-height: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
}

.half-image > img {
    width: 100%;
    display: block;
}

.customized-image > img {
    width: 100%;
    display: block;
}

.customized-image > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 120px;
    margin: 0;
    padding: 0;
}

.customized-image > div > p {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-style: italic;
    font-weight: bold;
}

.quarter-image img {
    width: 100%;
    flex: 1;
    object-fit: cover;
}



.book-spread {
    /* background-color: rgb(221, 221, 221); */
    width: 100%;
    aspect-ratio: 12/9;
    margin: 20px 0;

    display: flex;
}

/* list */
.list-container {
    font-size: 14px;
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

.stage-title {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 700;
}

.list-item {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 8px;
    gap: 8px;

    cursor: pointer !important;
}

.list-item-title a {
    font-size: 14px;
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    text-decoration: none;  /* 移除下划线 */
    color: inherit;         /* 继承父元素的颜色，通常是黑色 */

    cursor: pointer !important;
}

.list-item-title a:hover {
    text-decoration: none;  /* 鼠标悬停时也不显示下划线 */

    cursor: pointer !important;
}

/* 当前页面的链接样式 */
.list-item-title a.current {
    font-weight: 600;

    cursor: pointer;
}

.list-item-icon {
    /* background-color: aqua; */

    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px; /* 或者根据需要调整 */

    overflow: visible;
}


.list-item-icon canvas {
    /* background-color: blue; */

    width: 100%;
    height: 100%;
    overflow: visible;
}

@media screen and (max-width: 600px) {
    .contact-info {
        flex-direction: column;
    }

    #list {
        display: none;
    }

    .customized-image {
        /* background-color: rgb(221, 221, 221); */
        width: 100%;
        margin: 20px 0;
        line-height: 0;
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: start;
        overflow: hidden;
    }

    .customized-image > div {
        width: 100%;
    }
}
                

/* Hide scrollbar for Chrome, Safari and Opera */
#list::-webkit-scrollbar,
#work::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#list, #work {
    -ms-overflow-style: none;
    scrollbar-width: none;
}